/* @import url(https://fonts.google.com/specimen/Poppins); */
:root{
--Gray400: hsl(0, 0%, 75%);
--Gray500: hsl(257, 7%, 63%);
--Gray900: hsl(255, 11%, 22%);
--Gray950: hsl(260, 8%, 14%);
--Blue400: hsl(180, 66%, 49%);
--Purple950: hsl(257, 27%, 26%);
}